.post-content{
    /*padding: 5%;*/
}
span.post-date{
    font-size: 12px;
    color: #b3b3b1;
    line-height: 17px;
    letter-spacing: 2px;
}
.post-info {
    padding-bottom: 10px;
    padding-top: 10px;
    line-height: 17px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 12px;
    color: #b3b3b1;
}